[submodule "AutoNomic"]
	path = AutoNomic
	url = https://github.com/sto0pkid/AutoNomic
	branch = master
[submodule "Library"]
	path = Library
	url = https://github.com/sto0pkid/Library
	branch = master
